.DS_Store
.idea
__pycache__
*.pyc
*.pyo
dist
build
*.egg-info
.eggs
*.[oa]
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.iobj
*.ipdb
*.exe
*.log
*.log.*
*.lastbuildstate
*.obj
*.map
*.sys
*.tlog
*.pch
*.idb
*.bak
*.opensdf
*.aps
*.viminfo
*.bash_history
*.inf
*.cat
*.sdf
*.suo
*.user
*.VC.db
*.VC.opendb
*.vcxproj.filters
.vs
.vscode
Release
Debug
Pipfile.lock
*.sqlite
*.dmp
.ipynb_checkpoints

# dependencies
node_modules/

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

/data

npm-debug.log*
yarn-debug.log*
yarn-error.log*
